/* my stiyls */

* {
  padding: 0px;
  margin: 0px;
}

/* baner style for index */
.baner {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  text-align: center;
}

/* content for indez */
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  padding: 20px;
  margin: 20px;
}

.content1 {
  margin: 30px;
}

.content2 {
  margin: 30px;
}



body {
  background-color: rgb(20,50,100);
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(255, 255, 200);
  font-family: monospace;
  margin-top: 15px;
  margin-bottom: 20px;
}

a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
