/* my stiyls */

/* set bacrand couler */

body {
  background-color: rgb(20,50,100);
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(255, 255, 200);
  font-family: monospace;
}

a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}
a:hover {
  text-decoration: line-through;
}
