/* baner for page */
.maen-content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  text-align: center;
}

/* para for mane part of page */
.maen-para {
  text-align: left;
  margin: auto;
  overflow: hidden;
}




/* cards */
.cards {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.card {
  margin: 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
}

.card > img {
  max-width: 100%;
  height: auto;
}




/* set bacrand couler */
body {
  background-color: rgb(20,50,100);
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(255, 255, 200);
  font-family: monospace;
  margin-top: 15px;
  margin-bottom: 20px;
}

a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
